<?xml version="1.0"?>
<ruleset name="Demo Quotes Plugin">
	<description>Demo Quotes Plugin rules for PHP_CodeSniffer</description>

	<!-- Only check PHP files. -->
	<arg name="extensions" value="php"/>

	<!-- Show progress, show the error codes for each message (source). -->
	<arg value="sp"/>

	<!-- Scan all files. -->
	<file>.</file>

	<exclude-pattern>*/index.php</exclude-pattern>
	<!-- Temporary - should be included. -->
	<exclude-pattern>uninstall.php</exclude-pattern>


	<!-- ##### Sniffs for PHP cross-version compatibility ##### -->
	<config name="testVersion" value="5.2-99.0"/>
	<rule ref="PHPCompatibility"/>


	<!-- ##### Code style ##### -->
	<rule ref="WordPress">
		<exclude name="Generic.Files.LineEndings.InvalidEOLChar" />
		<exclude name="WordPress.VIP" />
	</rule>


	<!-- Exclude errors and warnings about commented out code.
	     As this is a teaching plugin, they actually have a purpose. -->
	<rule ref="Squiz.PHP.CommentedOutCode.Found">
		<exclude-pattern>*/class-demo-quotes-plugin-cpt.php</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.InlineComment.InvalidEndChar">
		<exclude-pattern>*/class-demo-quotes-plugin-cpt.php</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.InlineComment.SpacingAfter">
		<exclude-pattern>*/class-demo-quotes-plugin-cpt.php</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.BlockComment.NoNewLine">
		<exclude-pattern>*/class-demo-quotes-plugin-cpt.php</exclude-pattern>
	</rule>

</ruleset>